{% macro createBtn(entity, url, attr, acl, icon) %}
    {% spaceless %}
        {% if acl is null or resource_granted(acl) %}
            {% if attr == 'dialog' %}
                {% set buttonId = 'create-'~(entity|replace({' ': '-', '.': '-'})|lower) %}
                {% set attr = { 'id': buttonId, 'data-form-url': url } %}
                {% set url = null %}
            {% endif %}
            {% set title = ('btn.create.' ~ entity)|trans|capitalize %}
            <a class="AknButton AknButton--apply{% if attr.class is defined %} {{ attr.class }}{% endif %}" href="{{ url ? '#' ~ url : 'javascript:void(0);' }}" title="{{ title }}"{% if attr %}{% for key, value in attr %}{% if key != 'class' %} {{ key }}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
            {{ title }}
            </a>
            {% if buttonId is defined %}
                <script type="text/javascript" nonce="{{ js_nonce() }}">
                    require(
                        ['jquery', 'pim/dialogform'],
                        function ($, DialogForm) {
                            'use strict';
                            $(function() {
                                new DialogForm('#{{ buttonId }}');
                            });
                        }
                    );
                </script>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
